# Copie ce fichier en .env.local et remplis les valeurs
# depuis ta console Firebase → Paramètres du projet → Applications web.
# Sur Vercel, cree exactement les memes variables dans `Production` et `Preview`.

NEXT_PUBLIC_FIREBASE_API_KEY=AIza...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=vdfapp-7c806.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=vdfapp-7c806
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=vdfapp-7c806.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=258866377549
NEXT_PUBLIC_FIREBASE_APP_ID=1:258866377549:web:87aab3b0e93c40ba43bd04
